*{

}
.Header{
    background-color: blue;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
}

*{
    margin: 0;
}

.hero{
    background-image: url("images/banner.png");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.link{
    display: flex;
    float: right;
    align-items: center;
    a{
        margin: 20px;
        color: white;
        text-decoration: none;
    }
}

h2{
    color: white;
}

button{
    background-color: chartreuse;
    width: 140px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 20px;
}

button:hover{
    background-color: red;
    cursor: pointer;
}


.tor{
    
    h1{
        color: red;
    }
    padding-right: 60px;
    p{
        margin-bottom: 10px;
    }
}
.content{
    display: flex;
    padding: 100px;
}

.content2{
    display: flex;
    padding: 100px;
 .two{
    margin: 20px;
 }  
 p{
    margin-bottom: 10px;
 } 
}

.logo2{
    height: 50px;
}

.iconify{
    display: flex;
    padding: 100px;

    .tnx{
        margin: 20px;
    }
}

.color{
    color: black;
    text-align: center;
}
.services{
    display: flex;
    padding: 100px;
    gap: 30px;

}

.bbc{
    background-color: #F5F5F5;height: 135px;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    gap: 100px;

    h4{
        color: red;
    }
    .ttt{
        padding-top: 40px;
    }
    margin-bottom: 50px;
}

.gladys{
    background-image: url('images/vvvvv.png');height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
.gladystext{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 15px;
}
margin-bottom: 50px;
}



.abt222{
    
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 35px;



    .aboutheader{
        width: 50%;
        background-color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        padding-left: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        gap: 30px;

        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    p{
        text-align: center;
    }
    }
}

.inputsection{
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.inputholder{
    
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 20px;
}

.INPUTBOX{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    


    input,select{
        width: 95%;
        border-radius: 20px;
        height: 40px;
        outline: none;
        border: 2px solid white;
        

    }



    textarea{
        width: 90%;
        border-radius: 20px;
        height: 60px;
        outline: none;
        border: none;
        padding-left: 20px;
        
    }

}
